RewriteEngine On
RewriteRule operationsCompte src/Services/operations/getAllByCompte.ph
RewriteRule operationsAll src/Services/operations/getAll.php
RewriteRule getSolde src/Services/compte/getSolde.php